@import "bs_variables";
@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./bower_components/font-awesome/scss/font-awesome";
@import "modules/_variables";

body p {
  font-size: $font-size-base;
}

body h1 {
  text-transform:uppercase;
  font-size:24px;
}
