doctype html
html
  head
    title Web Workflow
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet",href="css/app.css",type="text/css")
  body    
    include templates/partials/home
    script(src="js/app.js")
